:root{
    --principal:#212E53;
    /* --seconde:#4C9FA1; */
    --seconde:#00838d;
    --troisime:#ffff;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;

}

/************************************ footer style fin  *******************************************/
.footer-content-topone{
    width: 100%;
    height: 100px;
    background-color: var(--seconde);
    padding-top: 30px;
  }
  .footer-content-topone-input{
    width: 400px !important;
    height: 50px;
    margin-right: 10px;
  }
  .footer-content-topone-boutton{
    height: 50px;
    background-color: var(--principal) !important;
    border: none !important;
  
  }
  .footer-content-bottomone{
    background-color: var(--principal);
    height: 250px;
    width: 100%;
  }
  .footer-content-topone-icons{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 2px solid var(--principal);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--principal);
  }
  .footer-content-topone-icons-content{
    display: flex;
    gap: 10px;
  }
  /************************************ footer style fin  *******************************************/